<div class="container padded">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <% if @cocktails.length > 0 %>
        <ul>
          <% @cocktails.each do |cocktail| %>
            <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
          <% end %>
        </ul>
      <% else %>
        <p>No cocktails in the database</p>
      <% end %>
      <%= link_to "Add a new cocktail", new_cocktail_path %>
    </div>
  </div>
</div>
